<div>
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <div class="container-fluid">
        <h3 class="text-dark mb-4">Schedule Appointment</h3>
        <div class="card shadow">
          <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">Appointment Details</p>
          </div>

          <div class="card-body">
            <form (ngSubmit)="createAppointment()">
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="patientId"><strong>Patient Id</strong><br /></label>
                    <input
                      name="patientId"
                      placeholder="Enter the patient id" 
                      class="form-control"
                      ngModel
                      required
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="doctorId"
                      ><strong>Doctor Id</strong><br
                    /></label>
                    <input
                      name="doctorId"
                      placeholder="enter the doctor id"
                      class="form-control"
                      ngModel
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="Appointment"
                      ><strong>Appointment</strong><br
                    /></label>
                    <input
                      name="gender1"
                      placeholder="Gender"
                      class="form-control"
                      ngModel
                      required
                    />
                  </div>
                </div>
               
              </div>
              <div class="form-row">
                
                  <mat-form-field>
                    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" [formControl]="dateControl"
                      [min]="minDate" [max]="maxDate" [disabled]="disabled">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                      [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
                      [color]="color" [enableMeridian]="enableMeridian">
                    </ngx-mat-datetime-picker>
                  </mat-form-field>
                </td>
                <td>
                  <ngx-mat-timepicker [(ngModel)]="date" [disabled]="disabled" [showSpinners]="showSpinners"
                    [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [showSeconds]="showSeconds"
                    [color]="color" [enableMeridian]="enableMeridian">
                  </ngx-mat-timepicker>
                </td>
              </div>
            
              <button
                class="btn btn-primary"
                type="submit"
              >
                Add Patient
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>